@use "colours.scss";
@use "fonts.scss";
@use "reset.scss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  font-size: 62.5%;
}

header.main-head {
  position: sticky;
  top: 0;
  background: colours.$tertiary-colour;
  z-index: 2;
}
.nav {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;

  .nav-links {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 20rem;
    transition: transform 1s ease;
    background: colours.$primary-colour;
  }

  #logo {
    flex: 1 1 20rem;
    font-family: fonts.$roboto;
    font-size: 3.5rem;
  }

  #logo span {
    color: colours.$primary-colour;
  }
  .nav-links a {
    color: colours.$tertiary-colour;
    text-decoration: none;
    font-family: fonts.$roboto;
    font-size: 3rem;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: colours.$tertiary-colour;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: colours.$tertiary-colour;
  }
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .burger span {
    padding: 0.2rem 2rem;
    background-color: colours.$primary-colour;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
}
@media screen and (min-width: 800px) {
  .nav {
    .nav-links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: unset;
      background: colours.$tertiary-colour;
    }
    .nav-links a {
      font-size: 1.8rem;
      color: colours.$secondary-colour;
    }
    a[href="#contact"] {
      border: 2px solid colours.$primary-colour;
      padding: 1rem;
    }
    .active {
      background-color: colours.$primary-colour;
    }
    .burger {
      display: none;
    }
  }
}
